<!DOCTYPE html>
<html>
<head>
  <title>Fresk</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=The+Girl+Next+Door' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%# header %>
  <div class="container">
    <header>
      <h1>fresk</h1>
      <p class="headline"><i>ToDo lists made social.<i></p>
    </header>

    <%= yield %>

  </div>

</body>
</html>
