<!DOCTYPE html>
<html>
<head>
  <title>Fresk</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=The+Girl+Next+Door' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%# header %>
  <div class="container">
    <header>
      <div class="row">
        <div class="span2">
          <h1>fresk</h1>
        </div>
        <div class="span2">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>
      </div>
      <p class="headline">
        <i>ToDo lists made social.</i>
      </p>
    </header>

    <% [:notice, :alert].each do |message| %>
      <%= flash[message] %>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
